@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Kiwi+Maru&family=Lobster+Two&family=Righteous&family=Tiro+Bangla&family=Work+Sans:wght@100;300;400;600;800&display=swap');
:root {
    --glow-color: hsl(200, 85%, 80%);
}
*{
    box-sizing: border-box;
    font-family: 'Inika';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.contenedor-header{
    background: #B3AD9D;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Inika';
    font-size: 36px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #000000;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #fff;
}
.contenedor-header header nav ul li .button{
    position: relative;
    padding: 15px 20px;
    border: 2px solid #252A2E;
    letter-spacing: 2px;
    color: #252A2E;
    -webkit-box-reflect: below 0px linear-gradient(transparent,#0002);
    transition: 0.5s;
    transition-delay: 0s;
}
.contenedor-header header nav ul li .button:hover{
    transition-delay: 1.5s;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 10px var(--glow-color),
    0 0 20px var(--glow-color),
    0 0 40px var(--glow-color),
    0 0 80px var(--glow-color),
    0 0 160px var(--glow-color);
}
.contenedor-header header nav ul li .button span{
    position: relative;
    z-index: 100;
}
.contenedor-header header nav ul li .button:nth-child(2){
    filter: hue-rotate(80deg);
}
.contenedor-header header nav ul li .button::before{
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #252A2E;
    box-shadow: 5px -8px 0 #252A2E,5px 8px 0 #252A2E;
    transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
}
.contenedor-header header nav ul li .button:hover::before{
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 #252A2E,5px 0 0 #252A2E;
    transition-delay: 0s, 0.5s, 1s, 1s;
}
.contenedor-header header nav ul li .button::after{
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #252A2E;
    box-shadow: -5px -8px 0 #252A2E,-5px 8px 0 #252A2E;
    transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
}
.contenedor-header header nav ul li .button:hover::after{
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 #252A2E,-5px 0 0 #252A2E;
    transition-delay: 0s, 0.5s, 1s, 1s;
}
.nav-responsive{
    background-color: #252A2E;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.Inicio {
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/fondo.gif) center transparent;
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
}
.Inicio .contenedor-banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1100px;
    margin: auto;
}
.Inicio .contenedor-banner .col{
    position: relative;
    max-width: 640px;
    height: 370px;
    margin: 10px;
    cursor: pointer;
}
.Inicio .contenedor-banner img{
    margin-top: 40px;
    width: 400px;
    height: 100%;
    margin: auto;
    z-index: 2;
}
.Inicio .contenedor-banner .col h1{
    margin-top: 40px;
    font-size: 57px;
    font-family: 'Inika';
}
.Inicio .contenedor-banner .col h4{
    font-size: 24px;
    font-weight: normal;
}
.servicios{
    background: #716F60;
    background-size: cover;
    color: #000000;
    padding: 50px 20px;
}
.servicios .contenedor-servicios{
    max-width: 1100px;
    margin: auto;
}
.servicios h2{
    font-size: 48px;
    font-family: 'Kiwi Maru';
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
}
.servicios .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.servicios .galeria .servicio{
    position: relative;
    max-width: 340px;
    height: 370px;
    margin: 10px;
    cursor: pointer;
    background: #B3AD9D;
}
.servicios .galeria .servicio h3{
    font-size: 23px;
    font-family: 'Kiwi Maru';
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
}
.servicios .galeria .servicio img{
    margin: auto;
    display: block;
}
.servicios .galeria .servicio p{
    font-size: 17px;
    font-family: 'Tiro Bangla';
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
}
.servicios .galeria .servicio:hover{
    box-shadow: 0px 0px 40px rgb(7, 3, 0);
}
.contactos{
    background-color: #2a2f2b;
    color: #fff;
    padding: 50px 0;
}
.contactos .contenedor-contactos{
    max-width: 1100px;
    margin: auto;
}
.contactos h2{
    font-size: 48px;
    font-family: 'Kiwi Maru';
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
}
.contactos .fila{
    display: flex;
}
.contactos .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contactos .col input, .contactos .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    margin-bottom: 20px;
    background-color: #252A2E;
    outline: none;
    border: 1px solid #c2f0e6;
    color: #fff;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #c2f0e6;
}
.contactos .col input::placeholder{
    color: #c2f0e6;
    position: absolute;
    top: 20px;
    left: 8px;
    font-size: 14px;
    padding: 0px 5px;
    transition: 0.3s;
    pointer-events: none;
}
.contactos .col textarea::placeholder{
    color: #c2f0e6;
    position: absolute;
    top: 20px;
    left: 8px;
    font-size: 14px;
    padding: 0px 5px;
    transition: 0.3s;
    pointer-events: none;
}
.contactos .col input:focus{
    box-shadow: 0px 0px 30px #c2f0e6;
}
.contactos .col textarea:focus{
    box-shadow: 0px 0px 30px #c2f0e6;
}
.contactos .col input:focus::placeholder{
    top: -20px;
    font-size: 12px;
    color: #c2f0e6;
}
.contactos .col textarea:focus::placeholder{
    top: -20px;
    font-size: 12px;
    color: #c2f0e6;
}
.contactos button{
    cursor: pointer;
    background: none;
    background-color: transparent;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    perspective: none;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: var(--glow-color);
    position: relative;
    z-index: 10;
    font-family: "Raleway", sans-serif;
    letter-spacing: 3px;

    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
}
.glowing-word {
    float: left;
    margin-right: 0.1em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
}
.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
}
.contactos button::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
}
.contactos button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}

.contactos button:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
}
.contactos button:hover .glowing-word {
    animation: none;
}

.contactos button:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
}

.contactos button:hover:before {
    filter: blur(1.5em);
    opacity: 0;
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
}
.contactos button:hover:after {
    opacity: 1;
}
@keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }
    2% {
        opacity: 0.1;
    }
    4% {
        opacity: 0.5;
    }
    19% {
        opacity: 0.5;
    }
    21% {
        opacity: 0.1;
    }
    23% {
        opacity: 1;
    }
    80% {
        opacity: 0.5;
    }
    83% {
        opacity: 0.4;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.1;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.1;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 0.3;
    }
    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }
    72% {
        opacity: 0.2;
    }

    77% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
    }
    2% {
        opacity: 1;
    }
    4% {
        opacity: 0.1;
    }

    8% {
        opacity: 1;
    }
    70% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .contactos button {
        font-size: 1em;
    }
}
.contactos button i{
    display: flexbox;
    width: 30px;
}
.contactos .col img{
    width: 100%;
    height: 88%;
    display: block;
}
.contactos .col .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    width: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactos .col .info ul{
    list-style: none;
}
.contactoss .col .info ul li{
    margin-bottom: 20px;
}
.contactos .col .info ul li #a{
    margin-left: 10px;
}
.contactos .col .info ul li #b{
    margin-left: 11px;
}
.contactos .col .info ul li #c{
    margin-left: 7px;
}
.contactos .col .info ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 10px;
}
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #B3AD9D;
        width: 180px;
    }
    #no-hover {
        color: #000000;
        text-decoration: none;
        border: none;
    }
    #no-hover.button {
        position: static;
        padding: 0;
        border: none;
        letter-spacing: 0;
        color: inherit;
        -webkit-box-reflect: none;
        transition: none;
        text-decoration: none;
    }
    #no-hover.button:hover,
    #no-hover.button:focus {
        color: inherit;
        text-decoration: none;
        box-shadow: none;
        transition-delay: 0s;
    }
    #no-hover:before {
        content: none;
        box-shadow: none;
    }
    #no-hover:after {
        content: none;
        box-shadow: none;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width: 600px) {
    .Inicio {
      height: auto;
      min-height: 100vh;
      padding: 80px 20px;
      background-size: contain;
      background-position: center;
      text-align: center;
    }
  
    .Inicio .contenedor-banner {
      flex-direction: column;
      align-items: center;
    }
  
    .Inicio .contenedor-banner .col {
      max-width: 100%;
      height: auto;
      margin: 10px 0;
    }
  
    .Inicio .contenedor-banner img {
      margin-top: 20px;
      width: 70%;
      height: auto;
    }
  
    .Inicio .contenedor-banner .col h1 {
      margin-top: 20px;
      font-size: 36px;
    }
  
    .Inicio .contenedor-banner .col h4 {
      font-size: 18px;
    }
    .servicios {
        padding: 40px 20px;
      }
    
      .servicios .contenedor-servicios {
        padding: 0;
      }
    
      .servicios h2 {
        font-size: 32px;
        padding: 10px 0;
        margin-bottom: 20px;
      }
    
      .servicios .galeria {
        flex-direction: column;
        align-items: center;
      }
    
      .servicios .galeria .servicio {
        max-width: 90%;
        height: auto;
        margin: 10px 0;
      }
    
      .contactos {
        padding: 40px 20px;
      }
    
      .contactos .contenedor-contactos {
        padding: 0;
      }
    
      .contactos h2 {
        font-size: 32px;
        padding: 10px 0;
        margin-bottom: 20px;
      }
    
      .contactos .fila {
        flex-direction: column;
      }
    
      .contactos .col {
        width: 100%;
        padding: 0;
      }
    
      .contactos .col input,
      .contactos .col textarea {
        padding: 12px;
        font-size: 14px;
      }
    
      .contactos .col .info {
        top: 50%;
        width: 100%;
        left: 0;
        transform: translateY(-50%);
        padding: 10px;
      }
    
      .contactos .col .info ul li {
        margin-bottom: 10px;
      }
    
      .contactos .col img {
        height: auto;
      }
  }